
<%= simple_form_for(@invoice) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :date %>
    <%= f.input :company %>
    <%= f.input :tax %>
    <%= f.association :employee, collection: Employee.order(:name), prompt: "Choose an Employee" %>
    <%= f.select(:status_type, options_for_select([['PAID', 'PAID'], ['PENDING', 'PENDING']]), { prompt: 'Choose a Status' }, class: 'form-control') %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
