<tr>
  <td><%= invoice.date.strftime("%Y/%m/%d") %></td>
  <td><%= invoice.company %></td>
  <td><%= invoice.tax %></td>
  <td><%= invoice.employee.name %></td>
  <td><%= invoice.status_type %></td>
  <td><%= link_to 'Show', invoice, class: 'btn btn-default' %></td>
  <td><%= link_to 'Edit', edit_invoice_path(invoice), class: 'btn btn-default btn-success' %></td>
  <td><%= button_to 'Destroy', invoice, method: :delete, class: 'btn btn-default btn-danger', data: { confirm: 'Are you sure?' } %></td>
</tr>